<!-- <div class="table-responsive">
    <table class="table-responsive-md table table-secondary">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Add Cart</th>
                <th scope="col">image</th>
                <th scope="col">CategoryId</th>
                <th scope="col">name</th>
                <th scope="col">price</th>
                <th scope="col">description</th>
                <th scope="col">createdDate</th>
                <th scope="col">isActive</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of productList">
                <td scope="row">{{product.id}}</td>
                <td><button class="btn btn-sm btn-primary" (click)="addCart(product)">Add Cart</button></td>
                <td><img [src]="product.image.small" alt=""></td>
                <td>{{product.categoryId}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>{{ product.createdDate | date:'MMM d, y HH:mm' }}
                </td>
                <td>{{product.isActive}}</td>
            </tr>

        </tbody>
    </table>
</div> -->


<div class="container">
    <div class="card-group">
        <div class="row">
            <div class="col-md-3" *ngFor="let product of productList">
                <div class="card">
                    <img class="card-img-top" [src]="product.image.small" alt="Card image cap" />
                    <div class="card-body">
                        <h4 class="card-title">{{product.name}}</h4>
                        <p class="card-text">{{product.price}} $</p>
                        <a (click)="addCart(product)" class="btn btn-primary">Satın Al</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>